/* Created by http://freehtml5templates.com */

/* reset */
* {
margin: 0;
padding: 0;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
display: block;
}

body {
line-height: 1;
background: #999;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: gray;
font-size: 14px;
line-height: 18px;
}
	
/* layout */

#wrapper {
/*width: 940px;*/
/*margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;*/
}

nav {
width: 100vw;
height: 84px;
position: fixed;
font-size: 18px;
text-align: right;
}

@media (min-width: 768px) {
	.navbar-nav>li>a {
	padding-top: 32px;
	padding-bottom: 32px;
	}
}

.logo {
height: 74px;
width: auto;
margin-top: -10px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
color: #2cbae6;	
}
.navbar-brand {
font-size: 22px;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #2cbae6;
}

.navbar-brand {
width: inherit;
}

.navbar .navbar-nav {
display: inline-block;
float: none;
vertical-align: top;
}

header {
height: 50vw;
margin: 84px auto 0 auto;
background: #000 url(images/insideassisi.jpg) no-repeat left center;
background-size: 100vw;
}

@media only screen and (max-width: 768px) {
	header {
	height: 65vw;
	}
}

#main {
/*width: 940px;*/
/*margin: 0 auto;*/
background: #FFF;
overflow: hidden;
}

#content {
/*float: right;
width: 940px;*/
}

.quote {
color: #2cbae6;
text-align: center;
padding: 1em 1em 0 1em;
}

#masstimes {
background-color: #777777;
color: #ffffff;
font-size: 22px;
height: 15em;
text-align: center;
}

#masstimes h2 {
color: #ffffff;
}

#masstimes h3 {
font-size: 22px;
}

.cardspacing {
margin: 0 auto;
position: relative;
max-width: 980px !important;
}

.card {
margin: 10px 10px 10px 10px;
border: 1px solid #ffffff;
text-align: center;
min-height: 213px;
}

.card hr {
width: 50%;
margin: 0 auto 10px auto;
}

footer {
/*width: 940px;*/
margin: 0 auto;
clear: both;
}

/* basics */

h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
}

a:link, a:visited {
color:#1bafdf;
text-decoration: none;
}

a:hover, a:active {
text-decoration: underline;
}

p {
margin-bottom: 18px;
}

li {
padding-left: 5px;
color: #2cbae6;
}

@media (min-width: 768px) {
	#masstimes .col-sm-4 {
	    width: 31.222222%;
	}
}

/** HEADER */

/*header h1 {
margin: 0 auto;
text-align: center;
line-height: normal;
}*/

/*header h1 { 	
font-size: 44px;
font-variant: small-caps;
}*/

/*header h1 a {
color: #314FDD;
}*/

/** ARTICLES **/

article {
padding: 2vw 0 2vw 0;
}

@media only screen and (max-width: 768px) {
	article {
	padding: 0;
	}
	.row {
	margin-left: 0;
	margin-right: 0;
	}
}

article img {
border: none;
}

#content h1, h2, h3, h4, h5, h6 {
color: #2cbae6;
line-height: 1.5em;
margin: 10px 0px 10px 0;
font-weight: 300;
}

.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 24px;
margin-top: 4px;
}

.alignright, img.alignright {
display: inline;
float: right;
margin-left: 24px;
margin-top: 4px;
}

.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 12px;
}

/* inline blocks of images and captions */

.benefits {
margin: 0 auto;
position: relative;
max-width: 980px !important;
}

@media only screen and (max-width: 768px) {
	.benefits {
	width: 100vw;
	padding: 0;
	}
}

.thumbnail {
border: none;
width: 100%;
/*height: 157px;*/
height: 19vw;
}

@media only screen and (max-width: 768px) {
	.benefits .thumbnail {
	border: none;
	width: 100%;
	height: auto;
	padding: 5vw;
	}
}

.benefits .caption {
display: block;
font-size: 20px;
font-variant: small-caps;
line-height: 1.5em;
text-align: center;
}

.benefits p {
margin-top: 5px;
text-align: justify;
}

@media only screen and (max-width: 768px) {
	.benefits p {
	margin: 3vw;
	}
}

/* footer widget blocks */

aside h3 {
font-size: 18px;
}

aside ul {
list-style: none;
margin-bottom: 20px;
margin-top: -15px;
}

aside li a {
display: block;
text-decoration: none;
}

aside li a:hover {
text-decoration: underline;
}

#footer-area {
background: #000;
color: #efefef;
font-size: 90%;
padding: 18px 0;
overflow: hidden;
}

.footer-segment {
float: left;
/*width: 29vw;*/
text-align: center;
padding: 2vw;
}

@media only screen and (max-width: 768px) {
	.footer-segment {
	/*width: 98vw;*/
	text-align: center;
	padding: 2vw;
	}
}


footer aside h4 {
color: #f5f5f5;
font-size: 16px;
line-height: 1.5em;
}

footer a:link, footer a:visited {
color: #2cbae6;
}

footer p {
margin-top: -15px;
color: #ddd;
}
